@font-face {
  font-family: 'hellvetica';
  src: url('helvetica.otf') format('OpenType');
}

.App {
  font-family: "Hellvetica";
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.sidemenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
  font-size: 0.9em;
}

.side-menu-button {
  padding: 12px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: ease 0.25s all;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.side-menu-button span {
  padding-right: 12px;
  padding-left: 6px;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
  overflow-y: auto;
  margin-bottom: 4rem;
  padding-bottom: 1.7rem;
}

.chat-input-holder {
  padding: 24px;
  position: fixed;
  bottom: 0; left: 16rem; right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  border-radius: 5px;
  border: none;
  margin: 12px;
  padding: 18px;
  color: white;
  font-size: 1.1em;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  max-height: 100vh;
}

.avatar {
  background-color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background-color:#0da37f;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 30px;
  padding-right: 30px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #40414f;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #40414f;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #202123;
}